.chat-side {
  background-color: #253141;
  width: 300px;
  height: 100vh;
  .side-header {
    height: 100px;
    display: flex;
    align-items: center;
    color: $white-color;
    padding: 0 20px;
    &__box {
      height: 20px;
      width: 100%;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      line-height: 20px;
      &__menu {
        display: flex;
        li {
          margin-left: 5px;
          a {
            color: $white-color;
          }
        }
      }
    }
  }
  .groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 20px 20px 0;
    .group {
      color: $white-color;
      text-decoration: none;
      &__group-name {
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__latest-message {
        font-size: 11px;
        margin-bottom: 40px;
      }
    }
  }
}